<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" version="19.0" />
  <package id="7zip.install" version="19.0" />
  <package id="azurepowershell" version="6.9.0" />
  <package id="chocolatey" version="0.10.15" />
  <package id="chocolatey-core.extension" version="1.3.5.1" />
  <package id="chocolateygui" version="0.17.1" />
  <package id="docker-desktop" version="2.3.0.3" />
  <package id="docker-for-windows" version="99.0.0.0" />
  <package id="DotNet4.5.2" version="4.5.2.20140902" />
  <package id="gcc-arm" version="4.8.1" />
  <package id="jq" version="1.6" />
  <package id="mingw" version="8.1.0" />
  <package id="nodejs" version="14.5.0" />
  <package id="nodejs.install" version="14.5.0" />
  <package id="postman" version="7.27.1" />
  <package id="SQLite" version="3.32.3" />
  <package id="winmerge" version="2.16.4.20191007" />
</packages>
