<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="azurepowershell" />
  <package id="azure-cli" />
  <package id="chocolatey" />
  <package id="chocolatey-core.extension" />
  <package id="chocolateygui" />
  <package id="docker-desktop" />
  <package id="docker-for-windows" />
  <package id="jq" />
  <package id="postman" />
  <package id="winmerge" />
  <package id="Office365Business" />
  <package id="openvpn" />
  <package id="openvpn-community" />
  <package id="tableplus" />
  <package id="cinebench" />
  <package id="Everything" />
  <package id="mpc-hc" />
  <package id="Office365Business" />
  <package id="golang" />
  <package id="git" />
  <package id="git.install" />
  <package id="GoogleChrome" />
  <package id="Firefox" />
  <package id="slack" />
  <package id="hyper" />
  <package id="microsoft-windows-terminal" />
  <package id="vim" />
  <package id="goland" />
  <package id="vscode" />
</packages>
